body {
  font-family: Comic Sans MS;
  background: black;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  overflow: show;
}

.sectionHeader {
  margin-top: 2em;
}

.center {
  width: 35em;
}
